html, body {
    height: 100%;
    margin: 0;
  }

body {
    background-color: #1B1B1B;
    color: #f5f5f5;
    font-family: 'Bree Serif', serif;
    padding: 0;
}

.container {
    min-height: 100%;
}

.wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 5%;
    border: 3px groove #f5f5f5;
    border-radius: 5px;
}

.top {
    text-align: center;
}

.title {
    font-size: calc(35px + 35px);
    padding-bottom: 3%;
}

.hplogo {
    padding: 15px;
    width: 20%;
    float: left;
}

.hppicture {
    padding: 15px;
    width: 25%;
    float: right;
    border-radius: 20px;
}

.instructions {
    font-size: 32px;
    text-align: center; 
}

.underline {
    text-decoration: underline;
}

#answerArrayDisplay {
    color: #2a623d;
}

#lettersGuessedDisplay {
    color: #a81111;
    padding-top: 20px;
}

#answerArrayDisplay, #lettersGuessedDisplay {
    font-size: 30px;
}

p {
    font-size: 20px;
}

@media only screen and (max-width: 992px) {
    /* For tablets phones: */
  
  .hppicture {
      width: 30%;
  }

  .instructions {
    font-size: 24px;
}

}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
.wrapper {
    text-align: center;
}

.hppicture {
    float: none;
    width: 40%;
}

p {
    font-size: calc(12px + 5px);
}

.title {
    font-size: calc(28px + 8px);
}

.instructions {
    font-size: 20px;
}

}